/**
 * ===============================================================
 * Button Styles
 * ===============================================================
 */

button {

    cursor: pointer;

    border: none;

    outline: none;

}