/**
 * ================================================================
 * Author: ultramegared
 * Project: Magic Touch Designs
 * File: CustomizePage.css
 * Module: Frontend
 * Language: CSS
 * Description:
 * Customize page styles.
 * ================================================================
 */

.customize-page{

    min-height:80vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:20px;

    background:#111111;

}

.customize-page h1{

    color:#C89B3C;

    font-size:4rem;

    font-weight:700;

}

.customize-page p{

    color:#FFFFFF;

    font-size:1.2rem;

}